[submodule "vendor/hl2sdk-cs2"]
	path = vendor/hl2sdk-cs2
	url = https://github.com/alliedmodders/hl2sdk.git
	branch = cs2
[submodule "vendor/metamod-source"]
	path = vendor/metamod-source
	url = https://github.com/alliedmodders/metamod-source.git
